
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1 {
    font-weight: normal;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

h4 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 5px 0;
}

.notes-list {
    width: 30%;
    float: left;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #fafafa;
    border-right: 1px solid #eee;
}

.note-list-item {
    padding: 5px 15px;
    border-bottom: 1px solid #eee;
}

.note-list-item--selected,
.note-list-item:hover {
    cursor: pointer;
    background-color: #eee;
}

.notes-detail {
    float: left;
    width: 60%;
    padding: 15px;
}

.note-details-item {
    width: 100%;
    margin: 10px 0;
}